!!! 5
%html
  %head
    %title Base Config
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', { :media => 'all', :data => {:turbolinks => {:track => 'reload'}} }
    = javascript_pack_tag 'application', { :data => {:turbolinks => {:track => 'reload'}}}

  %body
    = yield
